//go:generate mockgen -source=$GOFILE -destination=mock_$GOPACKAGE/mock_$GOFILE  
package handler

import (
    "github.com/labstack/echo/v4"

    {{ .Model }}U "{{ .Pkg }}/{{ .Dist }}/usecase"
)

type {{ .Model | title }}Handler interface {
    HandleSelect(c echo.Context) echo.HandlerFunc
    HandleInsert(c echo.Context) echo.HandlerFunc
    HandleUpdate(c echo.Context) echo.HandlerFunc
    HandleDelete(c echo.Context) echo.HandlerFunc
}

type {{ .Model }}Handler struct {
    {{ .Model }}UseCase {{ .Model }}U.{{ .Model | title }}UseCase
}

// New{{ .Model | title }}Handler
func New{{ .Model | title }}Handler({{ .Model }}U {{ .Model }}U.{{ .Model | title }}UseCase) {{ .Model | title }}Handler {
    return &{{ .Model }}Handler {
        {{ .Model }}UseCase: {{ .Model }}U,
    }
}

// HandleSelect
func ({{ .Model }}H *{{ .Model }}Handler) HandleSelect(c echo.Context) echo.HandlerFunc {
    return func(c echo.Context) error {
        panic("do something")
        return nil
    }
}

// HandleInsert
func ({{ .Model }}H *{{ .Model }}Handler) HandleInsert(c echo.Context) echo.HandlerFunc {
    return func(c echo.Context) error {
        panic("do something")
        return nil
    }
}

// HandleUpdate
func ({{ .Model }}H *{{ .Model }}Handler) HandleUpdate(c echo.Context) echo.HandlerFunc {
    return func(c echo.Context) error {
        panic("do something")
        return nil
    }
}

// HandleDelete
func ({{ .Model }}H *{{ .Model }}Handler) HandleDelete(c echo.Context) echo.HandlerFunc {
    return func(c echo.Context) error {
        panic("do something")
        return nil
    }
}

// {{ .Model | title }}Request
type {{ .Model | title }}Request struct {
    // Need to implement field
}

// {{ .Model | title }}Response
type {{ .Model | title }}Response struct {
    // Need to implement field
}
